@import '../../mixins.module.scss';

.comments {
  &__section {
    display: flex;
    flex-direction: column;
    padding: 100px 0;
  }

  &__list {
    padding: 50px 0 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__title {
    @include title-font;

    color: var(--color-dark);
  }

  &__container {
    display: flex;
    flex-direction: column;
    max-width: 740px;
    gap: 30px;
  }

  &__form {
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    :focus-visible &__placeholder {
      top: -5px;
      transition: 0.5s;
      outline: none;
    }
  }

  &__input {
    width: 736px;
    height: 126px;
    border: 2px solid transparent;
    transition: 0.2s;
    &:focus-visible {
      background-color: var(--color-white);
      color: rgba(20, 20, 43, 1);
    }
  }

  &__form:focus-within p {
    transform: translateY(-40px);
    z-index: 5;
    transition: 0.5s;
    color: var(--color-dark);
  }

  &__button {
    width: 276px;
    height: 50px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.75px;
  }

  &__placeholder {
    position: absolute;
    top: 14px;
    left: 20px;
    color: var(--color-dark-grey);
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.75px;
    z-index: 5;
  }
}
