.recommendations {
  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(305px, 1fr));
    gap: 20px;
    padding: 0 0 150px;
    max-width: 1280px;
  }

  &__title {
    font-size: 24px;
    display: flex;
    justify-content: center;
    padding: 150px 0 150px;
    color: rgb(52, 52, 62);
    flex-direction: column;
    align-items: center;
  }
}


@media (320px <= width <= 834px) {
  .recommendations {
    &__list {
      grid-template-columns: repeat(3, 195px);
    }
    &__item {
      &:last-child {
        display: none;
      }
    }
  }

}