.book_card {
  &__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(52, 73, 102, 1);
    margin: 0;
  }

  &__author {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:rgba(185, 186, 195, 1);
    margin: 0;
  }

  &__button {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.75px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 100%;
  }
}
