.rating {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 30px;
  }

  &__count {
    color: var(--color-dark-grey);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
  }

  &__list {
    gap: 30px;
    list-style: none;
    display: inline-flex;
  }
}



@media (320px <= width <= 834px) {

  .rating {

    &__container {
      padding: 10px 0 15px;
    }
    
    &__list {
      gap: 5px;
    }

    &__icon {
      width: 15px;
      height: 15px;
    }
  }

}