.select {


  &__container {
    position: relative;
  }

  &__input {
    padding: 5px 20px;
    background-color: var(--color-light);
    border-radius: var(--border-radius);
    font-size: 18px;
    color: ver(--color-dark-blue);
    border: none;
    cursor: pointer;
  }

  &__drop_down {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    background-color: vat(--color-light);
    border-radius: var(--border-radius);    
  }

  &__options {
    margin: 0;
    padding: 10px;
    opacity: 0;
    background-color: var(--color-light);
  }
}