@import '../../mixins.module.scss';

.cart {
  &__section {
    padding-bottom: 120px;
  }

  &__section_empty {
    display: flex;
    padding: 120px 0;
    justify-content: space-evenly;
  }

  &__container_empty {
    max-width: 465px;
    display: flex;
    flex-direction: column;
  }

  &__button_empty {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.75px;
    text-align: center;
  }

  &__container {
    display: flex;
    gap: 10px;
    padding: 20px 0;
  }

  &__list {
    @include reset;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__title {
    @include reset;
    @include title-font;
  }

  &__description {
    @include reset;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: var(--color-dark-blue);
    margin-bottom: 60px;
  }

  &__total_title {
    @include reset;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0;
  }

  &__total_text {
    @include reset;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0;
  }

  &__button_continue {
    background-color: var(--color-white);
    border: 1px solid var(--color-dark);
    color: var(--color-dark);
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.75px;
    text-align: center;
    &:hover {
      background-color: var(--color-white);
    }
    margin-right: 20px;
  }

  &__button {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.75px;
    text-align: center;
  }
}
