.catalog {

  margin-bottom: 30px;

  &__filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(13, 24, 33, 1);
  }

  &__select {
    padding: 10px 8px 10px 15px;
    border: none;
    border-radius: 16px;
    background: #f0f4ef;
    margin-right: 20px;

  }

  &__sort {
    padding: 10px 8px 10px 15px;
    border: none;
    border-radius: 16px;
    font-size: 18px;
  }


  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0;
  }

  &__pagination {
    padding: 50px;
    display: flex;
    justify-content: center;
  }
}
