.book_cover {
  &__wrapper {
    position: relative;
    overflow: hidden;
    float: left;
    &:active {
      transform: scale(0.99);
    }
  }

  &__description {
    padding-top: 40px;
    height: 110px;
    width: 150px;
    background: #ffffff73;
    opacity: 0.7;
    border-radius: 50%;
    transition: 0.3s;
    position: absolute;
    top: 25px;
    left: 75px;
    text-align: center;
    transform: scale(0);
  }

  &__wrapper:hover &__description {
    transform: scale(5);
    cursor: pointer;
  }

  &__photo {
    z-index: 1;
    border-radius: var(--border-radius);
    &:hover {
      background: rgb(240 244 239 / 27%);
      border-radius: var(--border-radius);
      transition: 0.3s;
      cursor: pointer;
    }
  }
}
