.filters {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    scroll-margin-top: 50px;
    scroll-behavior: smooth;
  }
}

@media (320px <= width <= 834px) {
  .filters {
    &__container {
      flex-direction: column;
    }
  }
  }

