.option {
  &__item {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.75px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    cursor: pointer;
    &:hover {
   
      background-color: var(--color-white); 
    }
    &:last-child:hover {
      border-bottom-right-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius);
    }
  }

  &__sort {
    max-width: 200px;
  }

  &__radio {
    border: 2px solid var(--color-dark-blue);
    border-radius: 50%;
    background-color: var(--color-white);
    width: 20px;
    height: 20px;
  }

  &__radio_active {
    border: 2px solid var(--color-dark-blue);
    border-radius: 50%;
    background-color: var(--color-dark-blue);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
