.button {
  color: var(--color-white);
  background-color: var(--color-dark-blue);
  border-radius: var(--border-radius);
  padding: 10px 50px;
  border: none;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: var(--color-dark);
    transition: 0.3s;
  }

  &:active,
  &:focus-visible {
    box-shadow: 0 0 0 8px rgba(214, 216, 231, 1);
    transition: 0.1s;
  }
}
