.wrapper {
  display: flex;
  &__inner {
    width: 1280px;
    margin: 0 auto;
  }
}

.body {
  width: 100%;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.error {
  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px;
  }

  &__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--color-dark);
  }

  &__button {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.75px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}


@media (320px <= width <= 834px) {
  .wrapper {

   &__inner {
    width: 100%;
   }
  }
}




