@import '../../mixins.module.scss';

.book {
  &__section {
    display: flex;
    flex-direction: column;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
  }

  &__photo {
    border-radius: var(--border-radius);
  }

  &__title {
    @include title-font;

    color: var(--color-dark);
  }

  &__description_title {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  &__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--color-dark-blue);
  }

  &__button {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.75px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
