@import '../../mixins.module.scss';

.log_in {
  &__section {
    display: flex;
    justify-content: space-between;
    padding: 90px 0 80px;
  }

  &__form {
    width: 413px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 60px 0;
  }

  &__title {
    @include title-font;
    color: var(--color-dark);
  }

  &__button {
    margin-top: 60px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.75px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    max-width: 180px; // TODO Уйти от фикс размеров, временное решение
  }

  &__input {
    color: var(--color-dark-grey);
    line-height: 28px;
    letter-spacing: 0.75px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 18px;
    background-color: var(--color-light);

    &:focus-visible {
      background-color: var(--color-white);
      border: 2 px sold var(--color-dark);
      color: var(--color-dark);
      transition: 0.3s;
    }
  }

  &__description {
    color: var(--color-dark-blue);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.75px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  &__description_error {
    color: rgba(195, 0, 82, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    display: hidden;
  }

}
