@import '../../mixins.module.scss';

.cart {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  &__container {
    display: flex;
    gap: 10px;
    padding: 20px 0;
  }

  &__title {
    @include title-font;
  }

  &__total_title {
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0;
  }

  &__total_text {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0;
  }
}
